<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990335322039-5i85blolpejfv8n0itr7u887lo874lnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990335322039-5i85blolpejfv8n0itr7u887lo874lnh</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5pqEqEfgNUpL8-gRJQwZabRWIuFPFsY</string>
	<key>GCM_SENDER_ID</key>
	<string>990335322039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGame</string>
	<key>PROJECT_ID</key>
	<string>flutter-game-edc3a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-game-edc3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990335322039:ios:0a78065e9694a671fbca32</string>
</dict>
</plist>